@using static AhmerMYWebDemo.Models.ESalary;
@model AhmerMYWebDemo.Models.ESalary

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ESalary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EMonth" class="control-label"></label>
                <select asp-for="EMonth" class="form-control" asp-items="Html.GetEnumSelectList<Month>()"></select>
                <span asp-validation-for="EMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edate" class="control-label"></label>
                <input asp-for="Edate" class="form-control" />
                <span asp-validation-for="Edate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EAmount" class="control-label">Amount</label>
                <input asp-for="EAmount" class="form-control" />
                <span asp-validation-for="EAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesId" class="control-label">Employee</label>
                <select asp-for="EmployeesId" class ="form-control" asp-items="ViewBag.EmployeesData"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
